  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <a class="navbar-brand">QuickPrep</a>
     <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="/dotnet">.Net</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/python">Python</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/datastructures">DataStructures</a></li>
      </ul>
      <div class="pull-right">
      <form class="form-inline">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
  </nav>
  <nav> <a routerLink="/dotnet">.Net</a></nav>
 
<router-outlet></router-outlet>

