/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


div.pull-right{
    float: right;
}

a.navbar-brand{
color:white !important;
}

a.nav-link{
    color:white;
}

.active{
    color:black !important;
    background-color: white;
}

.dropdown-toggle::after {
    display:none;
}


.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}